<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./includes/common-head.ejs') %>
    <title>
        <%= pageTitle %>
    </title>
</head>

<body>
<%- include('./includes/nav-bar.ejs') %>
<div class="container">
    <div class="mt-4 lead">
        Search: <%= username %>
    </div>
    <div class="mt-4">
        <% if(searchResults.length > 0) { %>
            <% searchResults.forEach(res => { %>
                <li class="lead">
                    <a href="https://vevericka.herokuapp.com/user/<%=res.username%>">
                        <%= res.username %>
                    </a>
                </li>
            <% }); %>
        <% } else { %>
            <div class="lead">No data available</div>
        <% } %>
    </div>
</div>

</body>

</html>